html, body {
  width: 100%;
  background: #333;
}
.container {
  position: fixed;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  background: #F0F0F0;
  border: 5px solid white;
  border-radius: 5px;
  padding: 15px;
}