@import "sass/shadows.scss";
@import "sass/transitions.scss";

$blue: #2196f3;

html, body {
  width: 100%;
  background: #333;
  color: #333;

  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Slabo 27px', serif;
}
code, pre {
  font-family: 'Source Code Pro', monospace;
}

.container {
  position: fixed;
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  background: #F0F0F0;
  border: 1px solid lightgray;
  box-shadow: 0 0 0 5px white;

  display: flex;
  flex-direction: column;

  header {
    background: white;
    border-bottom: 1px solid lightgray;
    margin: 0;
    padding: 5px 15px;

    h1 {
      margin: 0;
    }
  }
  main {
    flex: 1;
  }
  footer {
    background: white;
    border-top: 1px solid lightgray;
    padding: 5px 15px;
  }
}

main {
  display: flex;

  aside.chats {
    background: white;
    border-right: 1px solid lightgray;
    padding: 5px 15px;
    width: 256px;
  }
  section.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  section.conversation {
    flex: 1;
    padding: 15px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-flow: column;
  }
  section.form-message {
    height: 64px;
    background: white;
    border-top: 1px solid lightgray;
    display: flex;
  }
}

footer p.message {
  margin: 0;
  color: gray;
  font-size: .75em;
}

article.message {
  display: flex;
  margin-bottom: 15px;
  min-height: 120px;

  section.avatar {
    margin-right: 15px;

    img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
      border: 5px solid white;
      @include z-depth-1;
    }
  }
  section.content {
    flex: 1;
    border-radius: 15px;
    @include z-depth-1;
    padding: 10px;
    background: lightblue;
    border: 5px solid white;

    h2 { margin: 0;}
    .message{
      margin: 0;
    }
    p.date {
      color: gray;
      font-size: .75em;
      text-align: right;
      margin: 0;
    }
  }
}

aside.chats {
  p.chat {
    @include z-depth-1-half;
    padding: 5px 10px;
    &.active {
      background: $blue;
      color: white;
    }

    display: flex;
    span.chat-name {
      flex: 1;
    }
    span.unread {
      text-align: center;
      min-width: 15px;
      padding: 2px 5px;
      background: rgba(255, 255, 255, .5);
      @include z-depth-1-half-inset;
      border-radius: 50%;
    }
  }
}

section.form-message {
  .txt-message {
    flex: 1;
    border: none;
    border-right: 1px solid lightgrey;
    outline: none !important;
    padding: 15px;
  }
  .btn-send {
    background-color: lightgrey;
    border: none;
    width: 64px;
    font-weight: 700;
    outline: none !important;

    margin: 10px;
    margin-right: 15px;
    position: relative;

    @include z-depth-1-half;
    @include ease-out();

    &:hover {
      top: -1px;
      @include z-depth-2;
    }
    &:active {
      top: 2px;
      @include z-depth-1;
    }
  }
}